.layout {
  min-height: 100vh;
}

.header {
  background-color: rgba(4, 4, 50, 0.844);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav {
  color: wheat;
}

.content {
  background: lightgray;
}

.footer {
  display: flex;
  justify-content: center;
}



